* {
    box-sizing: border-box;
    margin: 0;
}

.content {
    margin-inline: 100px;
    margin-top: 50px;
    margin-bottom: 200px;

    & .breadcrumb {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 32px;

        & a {
            color: rgba(0, 0, 0, 0.60);
            font-family: Adamina;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }

        & span {
            color: #000;
            font-family: Adamina;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    & .container {
        display: flex;
        flex-direction: row;
        gap: 64px;
        justify-content: space-between;
        align-items: flex-start;

        & .filter-container {
            display: flex;
            width: 20%;
            padding: 20px 24px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 16px;
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.10);

            & .filter-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                & h1 {
                    color: #000;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                & img {
                    width: 24px;
                    height: 24px;
                }
            }

            & hr {
                width: 100%;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.10);
                border: none;
            }

            & .item-category {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                & a {
                    color: rgba(0, 0, 0, 0.60);
                    font-family: Adamina;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;
                    transition: color 0.3s ease;
                }

                & a:hover {
                    color: #000;
                }

                & a.active {
                    color: #000;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }

            & .filter-button {
                width: 100%;
                text-decoration: none;
            }

            & button {
                width: 100%;
                height: 48px;
                padding: 16px 54px;
                gap: 12px;
                border: none;
                color: #FFF;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border-radius: 62px;
                background: #000;
                cursor: pointer;
            }
        }

        & .category-item {
            display: flex;
            width: 80%;
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;

            & .category-title-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                & h2 {
                    color: #000;
                    font-family: Inter;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                & .item-index {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    & p {
                        color: rgba(0, 0, 0, 0.60);
                        font-family: Adamina;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    & .short-by {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        & label {
                            color: rgba(0, 0, 0, 0.60);
                            font-family: Adamina;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        & select {
                            width: 70%;
                            height: 40px;
                            padding: 8px;
                            border-radius: 4px;
                            font-family: Adamina;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            border-radius: 62px;
                            background: #F0F0F0;
                            padding: 8px 16px;
                            border: none;
                            appearance: none;
                            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23000" d="M7 10l5 5 5-5H7z"/%3E%3C/svg%3E');
                            background-repeat: no-repeat;
                            background-position: right 16px center;
                            background-size: 16px 16px;
                            cursor: pointer;
                        }
                    }
                }
            }

            & .item-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 72px;

                & .item-list {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: flex-start;
                    gap: 24px;

                    & .item {
                        display: flex;
                        width: 31.5%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 17px;

                        & img {
                            display: flex;
                            width: 100%;
                            height: 300px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            background: #F0EEED;
                        }

                        & .item-desc {
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            gap: 4px;
                            text-decoration: none;
                            text-decoration-color: black;

                            & h3 a, & p a {
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                    }
                }

                & .pagination-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;

                    & hr {
                        width: 100%;
                        height: 2px;
                        background: rgba(0, 0, 0, 0.10);
                    }

                    & .pagination {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;

                        & a, span {
                            display: flex;
                            padding: 8px 14px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border-radius: 8px;
                            border: 1px solid rgba(0, 0, 0, 0.10);
                            background: #FFF;
                            color: #000;
                            font-family: Inter;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            text-decoration: none;
                        }

                        & .num-page {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 4px;
                        }
                    }
                }
            }
        }
    }
}