.footer {
    width: 1441px;
    height: 499px;
    flex-shrink: 0;
    background: #F0F0F0;
}

.container {
    display: flex;
    width: 1240px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.text-box-title {
    color: #000;
    font-family: "Abril Fatface";
    font-size: 33.455px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-box-desc {
    color: rgba(0, 0, 0, 0.60);
    font-family: Adamina;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.logo {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.twitter-logo {
    width: 28px;
    height: 28px;
}

.facebook-logo {
    width: 28px;
    height: 28px;
}

.instagram-logo {
    width: 28px;
    height: 28px;
}

.github-logo {
    width: 28px;
    height: 28px;
}